

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-section about">
                <h2 class="logo-text">Wanderlust Tour & Traveling</h2>
                <p>Explore the world with us. Your adventure awaits.</p>
                <div class="contact">
                    <span><a href="tel:7082843967">
                        <i class="fa-solid fa-phone"></i>&nbsp;
                        Call Us</a>
                    </span>
                    <span> <a href="mailto:deepubeniwal144@gmail.com">
                        <i class="fas fa-envelope"></i> &nbsp; 
                       Email Us
                    </span>
                </div>
                <div class="socials">
                    <a href="https://www.facebook.com/mrbeniwal.shaab" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/deepu_beniwal_611/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/pradeep-beniwal-9639b8256" target="_blank"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
            <div class="footer-section links">
                <h2>Quick Links</h2>
                <br>
                <ul>
                    <a href="/listings"><li>Home</li></a>
                    <a href="/tc"><li>Terms & Conditions</li></a>
                    <a href="/privacy"><li>Privacy Policy</li></a>
                  
                </ul>
            </div>
           
        </div>
        <div class="footer-bottom">
            &copy; 2024 Wanderlust Tour & Traveling | Designed by Wanderlust  [ Owner : Pradeep Beniwal ]
        </div>
    </footer>


